html, body {
    overflow: hidden !important;
}

.main {
  background: #f4f4f4;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #FF5722;
  border-radius: 10px;
}

.v-data-table {
  width: 100% !important;
}

.v-data-table th {
  color: white !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.v-data-table td {
  font-size: 0.8rem !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}